<!DOCTYPE html>
<html lang="en">
    <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" href="politic.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</head>

<body  id="body" data-chambers="house">
    <div class="header">
        <div class="donaldtrump">
            <a href="#"><img class="donaldtrump" src="trump.png" alt="donald"></a>
        </div>
        <div class="logoarea">
            <a href="#"><img class="logo" src="tgiflogo.png" alt="tgif"></a>
        </div>
        <div class="emailus">
            <p>
                <a href="mailto:info@tgif.com?Subject=Hi%20there" target="_top">&#9889; Email Us</a>
            </p>
        </div>
    </div>
    <div class="navbar">
        <a href="home-starter-page.html">Home</a>
        <div class="dropdown">
            <button class="dropbtn">113th Congress 
                    <i class="fa fa-caret-down"></i>
                    </button>
            <div class="dropdown-content">
                <a href="senate-starter-page.html">Senate</a>
                <a href="#">House</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Attendance 
                    <i class="fa fa-caret-down"></i>
                    </button>
            <div class="dropdown-content">
                <a href="senate_attendance.html">Senate</a>
                <a href="house_attendance.html">House</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Party Loyalty 
                    <i class="fa fa-caret-down"></i>
                    </button>
            <div class="dropdown-content">
                <a href="senate_house-party-loyalty-starter-page.html">Senate</a>
                <a href="house_loyalty.html">House</a>
            </div>
        </div>
    </div>
    <!--Table container-->
    <div class="maintextHome">
        <h2>Congressmen</h2>
        <p>The major power of the House is to pass federal legislation that affects the entire country, although its bills must also be passed by the house and further agreed to by the U.S. President before becoming law (unless both the Senate and House re-pass the legislation with a two-thirds majority in each chamber). The House has some exclusive powers: the power to initiate revenue bills, to impeach officials (impeached officials are subsequently tried in the House), and to elect the U.S. President in case there is no majority in the Electoral College.</p>
        <p>Each U.S. state is represented in the House in proportion to its population as measured in the census, but every state is entitled to at least one representative. </p>
                  <div class="container" id="app">
        <table class="table">

            <thead>
                
                <div class="filterNav">
                <div class="filter1">
                    
                    <input id="rep" type="checkbox" name="R">
                    <label for="checkboxes"></label>
                    <label for="checkbox"> Republicans </label>

                    
                    <input id="dem" type="checkbox" name="D">
                    <label for="checkbox"> Democrats </label>

                    
                    <input id="ind" type="checkbox" name="I">
                    <label for="checkbox"> Independents </label>
                     </div>

                <!-- STATE DROPDOWN FILTER -->
                    <div class="filter2">
                    <label for="dropdown">Choose State:</label>
                    <select id="filter-state" class="filter">
                  <option value="ALL">All</option>
                  <option v-for="state in states">{{state}}</option>
                </select>
                </div>
                </div>
                <tr>
                    <th>Name</th>
                    <th>Party</th>
                    <th>State</th>
                    <th>Years in Congress</th>
                    <th>% Votes w/ Party</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="member in members">
                    <td><a v-bind:href='member.url' target="_blank">{{member.first_name}} {{member.middle_name}} {{member.last_name}}</a></td>
                    <td>{{member.party}}</td>
                    <td>{{member.state}}</td>
                    <td>{{member.seniority}}</td>
                    <td>{{member.votes_with_party_pct}}</td>
                </tr>
                <div class="loader" id="load"></div>
            </tbody>

        </table>
    </div>
    </div>
    <footer>
        <p>&copy; 2016 TGIF All Rights Reserved</p>
    </footer>
    <!--            <script src="house.js"></script>-->
    <script src="combo3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</body>
              
</html>